# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###

*.zip
*.gz
*.tar
*.exe
*.prof
*.pprof
*.mid
*.wav
*.notes
*.mo
*.pdf
*.midi
*.ly
cmd/*.mid
cmd/json.mid
zenrender
bin/
lilypond/
vendor/
build/
go.work
go.work.sum
tls-client/
fhttp/
utls/
www/
models/
temp_analyze/
research/
sfizz-repo/
research/sfizz-repo/
.zenmcp/code-graph.db-shm
.zenmcp/code-graph.db-wal
.zenmcp/
..zenmcp/
.zenmcp/code-graph.db
tui_state.json
*.lrc
*.ass
*.vtt
*.txt
.zenmcp/code-graph.db
test/
tui_state.json
*.abc
sfizz.log
node_modules/
*.log
scratch/
*.db
*.db-shm
*.db-wal
model/
